{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block title %} Iniciar Sesión {% endblock %}
{% block header_right %}
<a href="{% url 'home:home' %}" class="link-secondary"
    ><i class="bi bi-house-fill" style="font-size: 1.5rem"></i
></a>
{% endblock %}
<!-- CONTENT -->
{% block content %}
<div class="container-md border border-secondary-subtle p-5">
    <h1 class="display-5 text-center">Iniciar sesión</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} {{ form|crispy }}
        <input
            type="submit"
            value="Iniciar Sesión"
            class="btn btn-primary w-100"
        />
    </form>
</div>
{% endblock %}
