{% extends 'base.html' %}
{% block title %}
  Mis recetas
{% endblock %}
{% block content %}
  <div class="container">
    {% for category in category_list %}
      {% if category.recipes %}
        <div class="container my-5">
          <h1 class="display1">{{ category.name }}</h1>
          {% for recipe in category.recipes %}
            <h3 class="display3">{{ recipe.title }}</h3>
            {% if recipe.ingredients.all %}
              <ul>
                {% for ingredient in recipe.recipeingredient_set.all %}
                    <li>{{ ingredient.ingredient.name }} - {{ ingredient.main_quantity.normalize }} {{ ingredient.main_unit }}{% if ingredient.second_quantity %} ({{ ingredient.second_quantity.normalize }} {{ ingredient.second_unit }}){% endif %}</li>
                {% endfor %}
              </ul>
            {% endif %}
            {% if recipe.body %}
              <p class="text-break">{{ recipe.body|linebreaks }}</p>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
