{% extends './recipes_base.html' %}
<!-- HEADER -->
{% block header_left %}
  {% if recipe.category %}
    <a href="{% url 'recipes:recipe_list' recipe.category.id %}" class="link-secondary"><i class="bi bi-arrow-left" style="font-size: 1.5rem"></i></a>
  {% else %}
    <a href="{% url 'recipes:recipe_list_no_category' %}" class="link-secondary"><i class="bi bi-arrow-left" style="font-size: 1.5rem"></i></a>
  {% endif %}
{% endblock %}
<!-- SUBHEADER -->
{% block subheader %}
  <li class="nav-item d-flex justify-content-end">
    <a href="{% url 'admin:recipes_recipe_change' recipe.id %}" target="_blank" class="nav-link"><i class="bi bi-pencil-fill"></i> Editar receta</a>
  </li>
{% endblock %}
<!-- CONTENT -->
{% block recipes_content %}
  {% if recipe.ingredients.all %}
    <ul>
      {% for ingredient in recipe.recipeingredient_set.all %}
        <li>{{ ingredient.ingredient.name }} - {{ ingredient.main_quantity.normalize }} {{ ingredient.main_unit }}{% if ingredient.second_quantity %} ({{ ingredient.second_quantity.normalize }} {{ ingredient.second_unit }}){% endif %}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if recipe.body %}
    <p class="text-break">{{ recipe.body|linebreaks }}</p>
  {% endif %}
  {% if recipe.related_recipes.all %}
    <h4>Recetas relacionadas</h4>
    <ul>
      {% for related_recipe in recipe.related_recipes.all %}
        <li>
          <a href="{% url 'recipes:recipe_detail' related_recipe.id %}">{{ related_recipe.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
