{% extends './recipes_base.html' %}
<!-- HEADER -->
{% block header_left %}
  <a href="{% url 'recipes:category_list' %}" class="link-secondary"><i class="bi bi-arrow-left" style="font-size: 1.5rem"></i></a>
{% endblock %}
<!-- SUBHEADER -->
{% block subheader %}
  {% if category %}
    <li class="nav-item d-flex justify-content-end">
      <a href="{% url 'admin:recipes_category_change' category.id %}" target="_blank" class="nav-link"><i class="bi bi-pencil-fill"></i> Editar categoría</a>
    </li>
  {% endif %}
{% endblock %}
<!-- CONTENT -->
{% block recipes_content %}
  {% url 'recipes:search_results' as search_url %}
  {% if request.path == search_url and recipe_list %}
    <p class="text-body-secondary">{{ recipe_list|length }} resultados para la búsqueda '{{ query }}'</p>
  {% endif %}
  {% for recipe in recipe_list %}
    <a href="{% url 'recipes:recipe_detail' recipe.id %}" class="text-decoration-none text-body">
      <div class="card m-2">
        <div class="card-body">
          <h4 class="card-title">{{ recipe.title }}</h4>
          {% if recipe.ingredients.all %}
            <ul>
                {% for ingredient in recipe.recipeingredient_set.all %}
                    <li>{{ ingredient.ingredient.name }} - {{ ingredient.main_quantity.normalize }} {{ ingredient.main_unit }}{% if ingredient.second_quantity %} ({{ ingredient.second_quantity.normalize }} {{ ingredient.second_unit }}){% endif %}</li>
                {% endfor %}
                {% if recipe.ingredients|length > 3 %}
                    <li>...</li>
                {% endif %}
            </ul>
          {% endif %}
          {% if recipe.body %}
            <p class="text-break">{{ recipe.body|truncatechars:200|linebreaks }}</p>
          {% endif %}
        </div>
      </div>
    </a>
  {% empty %}
    <p>
      {% url 'recipes:search_results' as search_url %}
      {% if request.path == search_url %}
        No hay resultados para la búsqueda '{{ query }}'
      {% else %}
        No hay recetas en esta categoría
      {% endif %}
    </p>
  {% endfor %}
{% endblock %}
