{% extends 'base.html' %}
{% block title %}
  Mis recetas | {{ recipe.title }}
{% endblock %}
<!-- HEADER -->
{% block header_left %}
  <a href="{% url 'recipes:recipe_list' recipe.category.id %}" class="link-secondary"><i class="bi bi-arrow-left" style="font-size: 1.5rem"></i></a>
{% endblock %}
{% block header_right %}
  <a href="{% url 'home:home' %}" class="link-secondary"><i class="bi bi-house-fill" style="font-size: 1.5rem"></i></a>
{% endblock %}
<!-- CONTENT -->
{% block content %}
  <div class="container">
    {% if recipe.ingredients %}
      <ul>
        {% for ingredient in recipe.ingredients %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if recipe.body %}
      <p class="text-break">{{ recipe.body|linebreaks }}</p>
    {% endif %}
  </div>
{% endblock %}
